{
    "presets": ["@babel/preset-react", "@babel/preset-env"],
    "plugins": [["babel-plugin-styled-components", {}, "unique-name-q"], ["@babel/plugin-proposal-class-properties", {}, "unique-name-s"]]
}
